{% extends "base.html" %} {% block page_content %}

<form method="POST" class="post-form" action="/add">
  {% csrf_token %}
  <div class="container">
    <br />
    <div class="form-group row">
      <div class="col-sm-12">
        <h3>Enter Guest Details</h3>
      </div>
    </div>
    {{ form }}
    <div class="form-group mt-2">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-warning">Back</a>
      </div>
    </div>
  </div>
</form>

{% endblock %}
